*{
    margin:0px;
    border:border-box;
    font-family:arial;
}

body{
    background-color:rgb(15, 60, 80);
}

#nav-bar{
    width:100vw;
    height:10vh;
    background-color:rgb(2, 34, 47);
    position:sticky;
    top:0px;
    display:flex;
    justify-content:space-evenly;
    align-items:center;
    box-shadow:
        10px 10px 10px rgba(0,0,0,0.6),
        0px 30px 40px rgba(0,0,0,0.6);
}
.button{
    background-color:transparent;
    width:15vw;
    color:rgb(118, 184, 169);
    border:none;
    font-size:2rem;
    transition:all 0.3s ease 0s;
}
.button:active{
    transform:scale(0.8);
}
.button:hover{
    color:white;
}
#logo{
    height:10vh;
    width:9vw;
    border-radius:50%;
    background-image:url("./images/logo.png");
    background-size:cover;
    color:blue;
}

#mainSection{
    height:400vh;
    width:100vw;
    background-color:rgb(15, 60, 80);
}
#heroSection{
    height:80vh;
    width:100vw;
    background-color:transparent;
    display:flex;
    align-items:center;
    margin-top:50px;
    margin-bottom:20px;
}
#images{
    height:80vh;
    width:40vw;
    background-color:transparent;
    display:flex;
    justify-content:center;
    align-items:center;
}
#image{
    height:60vh;
    width:30vw;
    background-image:url("./images/heroImage1.webp");
    background-size:cover;
    background-repeat:no-repeat;
    box-shadow:
        10px 10px 10px rgba(0,0,0,0.8),
        0px 30px 40px rgba(0,0,0,0.8);
}
#heroSectionTextArea{
    height:60vh;
    width:60vw;
    display:flex;
    flex-wrap:wrap;
    align-content:center;
    justify-content:center;
    background-color:transparent;
}
#heroSectionHeader{
    width:60vw;
}
.heading{
    font-size:3rem;
    margin-left:40px;
    line-height:80px;
    font-weight: bolder;
    color:rgb(156, 211, 234);
}
.para{
    font-size:2rem;
    margin-top:20px;
    margin-left:40px;
    margin-right:120px;
    line-height:70px;
    color:rgb(156, 211, 234);
}
#heroButtonContainer{
    height:10vh;
    width:55vw;
    display:flex;
    justify-content:flex-start;
    align-items:center;
    background-color:transparent;
    margin-top:30px;
}
#heroButton1,#heroButton2{
    background-color:rgb(2, 17, 23);
    border-radius:30px;
    height:8vh;
    font-size:2rem;
    color:rgb(118, 184, 169);
    margin-right:50px;
    box-shadow:
        0 10px 10px rgba(0,0,0,0.3),
        0px 20px 30px rgba(0,0,0,0.3);
    transition:all 0.3s linear 0s;
}
#heroButton1:hover{
    color:white;
}
#heroButton2:hover{
    color:white;
}

hr{
    border:2px solid rgb(5, 32, 33);
}

#problemSection,#solutionSection{
    margin-top:40px;
    margin-bottom:40px;
}
#problemCardSection{
    margin-top:70px;
    margin-left:10px;
    display:flex;
    justify-content:space-around;
    flex-wrap:wrap;
}
.problemCard{
    height:15vh;
    width:28vw;
    background-color:rgb(80, 122, 141);
    border-radius:20px;
    margin-bottom:50px;
    margin-left:10px;
    padding:15px;
    transition:all 0.2s linear 0s;
    box-shadow:
        0 5px 10px rgba(0,0,0,0.8),
        0px 20px 30px rgba(0,0,0,0.8);
}
.problemHeading{
    font-size:2rem;
    line-height:50px;
    color:rgb(29, 52, 58);
    margin-left:15px;
}
.problemPara{
    font-size:1.3rem;
    margin-top:5px;
    line-height:40px;
    color:rgb(194, 224, 237);
    margin-left:20px;
}
.problemCard:hover{
    transform:translateY(-10px);
}

#dashboardContainer{
    height:72vh;
    width:100vw;
    display:flex;
    margin-top:60px;
    margin-left:60px;
}
#solutionDashboard{
    height:72vh;
    width:65vw;
    background-image:url("./images/dashboardPreview.png");
    background-size:contain;
    box-shadow:
        10px 10px 10px rgba(0,0,0,0.8),
        0px 30px 40px rgba(0,0,0,0.8);
    margin-right:60px;
    border-radius:20px;
}
#solutionChecklist{
    height:72vh;
    width:25vw;
}
.solutionPara{
    font-size:2rem;
    margin-top:20px;
    margin-left:40px;
    line-height:70px;
    color:rgb(156, 211, 234);
}

footer{
    height:50vh;
    width:100vw;
    background-color:red;
}