*{
    margin:0px;
    border:border-box;
    font-family:arial;
}
body{
    background-color:rgb(15, 60, 80);
}
#invitePageHolder,#manageFormPlaceHolder,#taskAssignmentPageHolder,#taskManage,#taskEditPageHolder,#pdfUploadHolder,#projectSettingPageHolder{
    height:100vh;
    width:100vw;
    display:flex;
    justify-content:center;
    align-items:center;
    background:rgba(0,0,0,0.5);
    position:fixed;
    z-index:9999;
    inset:0;
    bottom:0px;
    backdrop-filter:blur(2px);
    display:none;
}
/* #projectSettingPageHolder{
    display:flex;
} */
#invitePage,#manageFormContainer,#taskAssignmentPage,#taskStatusUpdatePage,#taskEditPage,#pdfUploadPage,#projectSettingPage,#projectSettingEditPage,#projectSettingEditStatusPage,#projectSettingDeletePage{
    border-radius:50px;
    background-color:rgba(196, 225, 227,0.7);
    box-shadow:0 0 20px cyan;
    border:2px solid rgba(255,255,255,1);
    padding:20px;
    padding-right:10px;
}
#projectSettingPage{
    /* display:none; */
    max-width:700px;
    min-width:700px;
}
#projectSettingEditPage,#projectSettingEditStatusPage,#projectSettingDeletePage{
    display:none;
    transform:rotateY(90deg);
}
#projectSettingDeletePage{
    width:700px;
}
#manageFormContainer{
    padding-right:20px;
    padding-bottom:5px;
}
@keyframes invitePage{
    from{
        transform:scale(0);
    }
    to{
        trasnform:scale(1);
    }
}
@keyframes cancelPage{
    from{
        transform:scale(1);
    }
    to{
        transform:scale(0);
    }
}
#inviteHeading,#manageFormHeading,#taskAssignmentHeading,#taskStatusHeading,#taskEditHeading,#pdfFormHeading,#projectSettingHeading,#projectSettingEditPageHeading,#projectSettingEditStatusHeading,#projectSettingDeletePageHeading{
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:3rem;
    padding:40px;
    padding-top:0px;
    padding-bottom:10px;
    color:rgb(3, 43, 39);
}
#emailHolder,#spacialityHolder,#positionHolder{
    margin-top:20px;
    margin-bottom:50px;
}
.invitePara,.taskAssignmentPara,.statusPara,.taskEditPara,.pdfUploadPara,.projectSettingEditPagePara,#projectSettingEditStatusPara,#projectSettingDeletePagePara{
    font-size:2rem;
    margin-bottom:15px;
    color:rgb(2, 39, 40);
}
#projectSettingDeletePageDescription{
    font-size:1.5rem;
    margin-bottom:30px;
    color:rgb(2, 39, 40);
    line-height:40px;
}
.input{
    border:none;
    border-radius:15px;
    border-top-left-radius:10px;
    border-bottom-left-radius:10px;
    outline:none;
    font-size:1.5rem;
    padding:5px;
    padding-left:10px;
    width:95%;
    box-shadow:
        0 10px 10px rgba(0,0,0,0.3),
        0px 20px 30px rgba(0,0,0,0.3);
}
input[type="radio"]{
    transform:scale(2);
    margin-right:10px;
    margin-left:10px;
}
label{
    font-size:1.5rem;
    display:flex inline-block;
    justify-content:center;
    align-items:center;
    color:#07282e;
}
#inviteButtonsHolder,#taskAssignmentButtonsHolder,#editTaskButtonsHolder,#taskEditButtonsHolder,#pdfFormButtonHolder,#projectSettingButtonHolder,#projectSettingEditPageButtonHolder,#projectSettingEditStatusButtonHolder,#projectSettingDeletePageButtonHolder{
    display:flex;
    align-items:center;
    justify-content:space-around;
    width:98%;
    margin-bottom:25px;
}
#projectSettingEditStatusButtonHolder{
    margin-bottom:10px;
}
#projectSettingButtonHolder{
    margin-top:30px;
    margin-bottom:20px;
}
#projectSettingEditPageButtonHolder{
    margin-top:40px;
}
#taskAssignmentButtonsHolder{
    margin-top:40px;
}
.inviteButton,.taskAssignmentButton,.editTaskButton,.taskEditButton,.pdfUploadButton,.projectSettingButton,.projectSettingEditPageButton,.projectSettingEditStatusButton,.projectSettingDeletePageButton{
    font-size:2rem;
    padding:5px;
    padding-left:30px;
    padding-right:30px;
    border-radius:20px;
    border:none;
    outline:none;
    cursor:pointer;
    background-color:rgb(3, 45, 62);
    color:rgb(122, 255, 224);
    box-shadow:
        0 10px 10px rgba(0,0,0,0.3),
        0px 20px 30px rgba(0,0,0,0.3);
}
.projectSettingEditPageButton{
    padding-left:15px;
    padding-right:15px;
}
.projectSettingButton{
    padding:10px;
    padding-left:20px;
    padding-right:20px;
}
#inviteBtn{
    padding-left:35px;
    padding-right:35px;
}
#logo{
    color:rgb(184, 214, 228);
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:3.5rem;
    margin-bottom:40px;
    padding-left:30px;
    padding-right:30px;
    padding-top:40px;
}
button{
    transition:all 0.3s ease 0s;
    cursor:pointer;
}
button:active{
    transform:scale(0.8);
}

#mainArea{
    display:flex;
}
#sideBar{
    position:sticky;
    top:0px;
    height:100vh;
    background-color:rgba(0, 19, 27, 1);
    z-index:2;
    border-top-right-radius:20px;
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    align-items:center;
    /* padding-left:30px; */
    /* padding-top:40px; */
}
.button{
    border:none;
    outline:none;
    background-color:transparent;
    color:rgb(118, 184, 169);
    font-size:2rem;
    margin-bottom:20px;
    display:flex;
    align-items:center;
    border-radius:20px;
    padding:15px;
    padding-right:25px;
}
#sideBarButtons{
    display:flex;
    justify-content:center;
    width:100%;
}
.button:hover{
    color:white;
    transform:scale(1.05);
}
.button:active{
    transform:scale(0.8);
}
#work{
    width:100%;
    background-color:transparent;
    padding:20px;
    padding-left:80px;
}
@keyframes page1Flip{
    from{
        transform:rotatey(0deg);
    }
    to{
        transform:rotateY(90deg);
    }
}
@keyframes page2Flip{
    from{
        transform:rotateY(90deg);
    }
    to{
        transform:rotateY(0deg);
    }
}
#overview{
    background-color:rgb(49, 82, 74);
}
#workHeading{
    font-size:5rem;
    display:flex;
    justify-content:flex-start;
    align-items:center;
    color:rgb(113, 231, 247);
}
#firstRow{
    display:flex;
    justify-content:space-between;
    align-items:center;
    background-color:transparent;
    margin-top:70px;
}
.row1Card{
    background-color:rgb(171, 217, 209);
    display:flex;
    justify-content:center;
    align-items:center;
    border-radius:20px;
    box-shadow:8px 20px 25px rgba(0,0,0,0.6);
    padding:20px;
    padding-left:10px;
    padding-right:10px;
}
.row1CardData,.managePara{
    font-size:1.6rem;
    color:rgb(3, 28, 22);
}
.row1CardData{
    display:flex;
    align-items:center;
    flex-wrap:nowrap;
}
.row1Ans{
    color:rgb(25, 115, 130);
}

hr{
    margin-top:100px;
    border:2px solid rgb(2, 31, 29);
}

.secondRow{
    display:flex;
    justify-content:space-around;
    background-color:transparent;
    align-items:center;
}
#row2Card1,#row2Card2,#row3Card{
    margin-top:80px;
    max-width:450px;
    min-width:450px;
    background-color:rgb(171, 217, 209);
    padding:10px;
    padding-top:30px;
    box-shadow:8px 20px 25px rgba(0,0,0,0.6);
    border-radius:30px;
    padding-left:20px;
    padding-right:20px;
}
.quickButtons,.manageButton,#manageFormCancelButton{
    border:none;
    outline:none;
    font-size:1.8rem;
    background-color:transparent;
    display:flex;
    justify-content:flex-start;
    align-items:center;
    color:rgb(7, 55, 57);
    font-weight:550;
    margin-bottom:20px;
}
.row2CardHeading,#row3CardHeading{
    font-size:2rem;
    color:rgb(7, 55, 57);
}
ul{
    padding-left:0px;
    font-size:1.8rem;
    line-height:40px;
    margin-bottom:20px;
    list-style:none;
    margin-top:20px;
    color:rgb(3, 25, 28);
}
li{
    margin-bottom:10px;
}
#thirdRow{
    display:flex;
    justify-content:center;
    align-items:center;
    background-color:transparent;
}
#row3Card{
    max-width:600px;
    margin-bottom:40px;
}
#taskArea,#activityArea,#discussionArea,#notesArea{
    display:none;
    width:100%;
    background-color:transparent;
    padding:20px;
    padding-left:80px;
    margin-top:20px;
    transform:rotateY(90deg);
}
#taskArea{
    padding-right:40px;
}
#discussionArea{
    margin-top:0px;
    padding-top:0px;
}
#manageButtonsHolder{
    display:flex;
    justify-content:space-around;
    align-items:center;
    width:95%;
}
.managePara{
    margin-bottom:15px;
}
.manageMember{
    margin-top:20px;
    margin-bottom:15px;
}
#manageFormCancelButton{
    font-size:2.5rem;
    padding-bottom:10px;
}
#manageCancelButtonHolder{
    display:flex;
    justify-content:center;
    align-items:center;
    width:99%;
}
#taskHeader,#activityHeader{
    border-bottom:2px solid black;
    margin-bottom:20px;
}
.taskAreaHeading,#activityHeading,#notesHeading,#personalNotesHeading,#personalPdfsHeading,#teamPdfHeading{
    font-size:2.5rem;
    margin-bottom:40px;
    color:rgb(113, 231, 247);
}
#notesHeading{
    font-size:3rem;
    line-height:70px;
}
.taskFilterButtonRow,.singleTaskButtonHolder,#activityFilterButtonsHolder{
    display:flex;
    background-color:transparent;
    margin-bottom:25px;
}
.singleTaskButtonHolder{
    margin-bottom:0px;
}
.taskFilterButtons,.singleTaskButton,#taskButton,.activityFilterButton,.notesButton,#personalNoteSubmitButton,.singleNoteButton,#personalPdfUploadButton,#teamPdfUploadButton{
    display:flex;
    justify-content:center;
    align-items:center;
    padding:8px;
    padding-left:20px;
    padding-right:20px;
    border:none;
    outline:none;
    border-radius:20px;
    margin-right:20px;
    font-size:1.5rem;
    background-color:rgb(152, 240, 247);
    color:rgb(2, 35, 35);
}
#teamPdfUploadButton{
    margin-bottom:45px;
}
.singleTaskButton{
    background-color:rgb(0, 106, 117);
    color:rgb(152, 218, 207);
}
.taskHr{
    margin-top:15px;
    border:1px solid;
    margin-bottom:15px;
}
.singleTaskHolder{
    padding-left:40px;
    padding:20px;
    padding-right:5px;
    background-color:rgb(171, 217, 209);
    box-shadow:0 10px 20px rgba(0,0,0,0.8);
    margin-bottom:30px;
    border-radius:20px;
    transform:translateY(40px);
    opacity:0;
    animation:taskCardAnimation 0.3s linear 0s forwards;
}
@keyframes taskCardAnimation{
    from{
        transform:translateY(40px);
        opacity:0;
    }
    to{
        transform:translateY(0px);
        opacity:1;
    }
}
.taskPara{
    font-size:1.5rem;
    color:rgb(4, 78, 78);
}
.taskInfoHolderRow{
    display:flex;
    align-items:center;
    margin-bottom:20px;
}
.taskInfoPara{
    margin-right:50px;
    font-size:1.3rem;
    color:rgb(1, 28, 28);
}
.taskInfoAns{
    margin-left:15px;
    color:rgb(6, 82, 82);
}
#assignedTasks{
    display:flex;
    justify-content:space-between;
    flex-wrap:wrap;
    align-items:center;
}
#taskButtonHolder{
    display:flex;
    align-items:center;
    margin-bottom:20px;
    margin-top:20px;
}
#taskButton{
    font-size:3rem;
    color:rgb(0, 66, 66);
}
#taskNewIcon{
    font-size:4rem;
    margin-right:5px;
}
.taskDataHolder,.taskEditDataHolder{
    margin-bottom:30px;
    margin-top:20px;
}
select,#taskAssignmentDate,#taskEditDate,#projectSettingEditPageDeadlineInput{
    border:none;
    outline:none;
    font-size:1.5rem;
    border-radius:20px;
    padding:10px;
    appearance:none;
    -webkit-appearance:none;
    -moz-appearance:none;
}
#projectSettingEditPageDeadlineInput{
    margin-bottom:15px;
    margin-left:20px;
}
#currStatusAns{
    color:rgb(2, 105, 105);
    font-weight:bold;
}
.statusPara{
    margin-top:30px;
}
#taskStatusHeading{
    padding:50px;
    padding-bottom:0px;
    padding-top:10px;
}
#editTaskButtonsHolder{
    margin-top:40px;
    margin-bottom:20px;
}
#taskEditHeading{
    padding-left:80px;
    padding-right:80px;
    padding-bottom:0px;
}
#taskEditBtn{
    padding-left:50px;
    padding-right:50px;
}
#taskEditButtonsHolder{
    margin-bottom:15px;
    margin-top:40px;
}
.activityPara{
    font-size:2.5rem;
    line-height:50px;
    margin-bottom:15px;
    color:rgb(176, 252, 252);
}
.activityTimeline{
    font-size:1.5rem;
    color:rgb(176, 252, 252);
    margin-bottom:15px;
}
.activityHr{
    margin-top:20px;
    margin-bottom:20px;
}
.singleActivityHolder{
    transform:translateY(40px);
    opacity:0;
    animation:activityAnimation 0.3s linear 0s forwards;
}
@keyframes activityAnimation{
    from{
        transform:translateY(40px);
        opacity:0;
    }
    to{
        transform:translateY(0px);
        opacity:1;
    }
}
.chatButtonOption{
    display:block;
    font-size:4rem;
    margin-bottom:40px;
    display:flex;
    justify-content:flex-start;
    align-items:center;
    background-color:transparent;
    border:none;
    outline:none;
    color:rgb(126, 230, 230);
}
#messageDisplay{
    opacity:0;
    display:none;
    transform:translateY(40px);
}
@keyframes chatScreenOnAnimation{
    from{
        opacity:0;
        transform:translateY(40px);
    }
    to{
        opacity:1;
        transform:translateY(0px);
    }
}
@keyframes chatScreenOfAnimation{
    from{
        opacity:1;
        transform:translateY(0px);
    }
    to{
        opacity:0;
        transform:translateY(40px);
    }
}
#MsgHolder{
    min-height:70vh;
    margin-top:40px;
    margin-bottom:10px;
    display:flex;
    flex-direction:column-reverse;
    overflow-y:auto;
}
#AllMsgsHolder{
    display:flex;
    justify-content:center;
    align-items:center;
}
#msgInput{
    width:90%;
    border-radius:0px;
    border-top-left-radius:10px;
    border-bottom-left-radius:10px;
    margin:0px;
}
#MsgHeader{
    display:flex;
    align-items:center;
    font-size:1.5rem;
    border-bottom:2px solid rgb(4, 36, 42);
    position:sticky;
    top:0px;
    padding-bottom:15px;
    padding-top:40px;
    color:rgb(92, 205, 205);
    background-color:rgb(15, 60, 80)
}
#leaveMessageDisplay{
    margin-right:5px;
    font-size:2.5rem;
    background-color:transparent;
    border:none;
    outline:none;
    color:rgb(92, 205, 205);
}
.msgPara{
    font-size:1.5rem;
    background-color:transparent;
    display:flex;
    flex-wrap:wrap;
    margin-bottom:10px;
}
.singleMsgParaHolder{
    max-width:60%;
    padding:10px;
    background-color:rgb(218, 255, 255);
    display:inline-block;
    margin-bottom:20px;
    border-radius:15px;
}
#msgSendButton{
    border:none;
    font-size:1.5rem;
    outline:none;
    padding:5px;
    margin:0px;
    border-left:1px solid black;
    border-top-right-radius:10px;
    border-bottom-right-radius:10px;
}
.ourMsgParaHolder{
    display:flex;
    align-items:center;
    justify-content:flex-end;
}
.otherMsgParaHolder{
    display:flex;
    align-items:center;
    justify-content:flex-start;
}
.singleMsgCopyButton,.singleMsgEditButton,.singleMsgDeleteButton{
    border:none;
    outline:none;
    background-color:transparent;
    font-size:1.2rem;
}
.singleMsgButtonHolder{
    display:flex;
    align-items:center;
}
.singleMsgButtonTimeline{
    width:100%;
    margin-left:10px;
    display:flex;
    align-items:center;
    justify-content:flex-end;
}
p{
    overflow-wrap:anywhere;
}
.msgSenderHolder{
    margin-bottom:5px;
    font-size:1.2rem;
}
#notesButtonHolder{
    display:flex;
    align-items:center;
}
#personalNotesHolder,#personalPDFsHolder,#teamPDFsHolder{
    display:none;
    transform:translateY(40px);
    opacity:0;
}
#personalNoteInputHolder{
    display:flex;
    align-items:center;
}
#personalNotesInput{
    min-width:500px;
    max-width:500px;
    height:100px;
    font-size:1.5rem;
    border:none;
    outline:none;
    padding:10px;
    padding-left:15px;
    margin-right:15px;
    border-radius:20px;
    background-color:rgb(204, 243, 243);
    color:rgb(2, 56, 56);
    scrollbar-width:none;
}
#personalNotesInput::-webkit-scrollbar{
    display:none;
}
#projectSettingEditPageDescriptionHolder::-webkit-scrollbar{
    display:none;
}
#projectSettingEditPageDescriptionHolder{
    width:92%;
    min-height:100px;
    padding:10px;

    line-height:30px;
}
.NotePara{
    font-size:2.5rem;
    color:rgb(140, 236, 236);
    line-height:60px;
}
.singleNoteButtonsHolder{
    margin-top:20px;
    display:flex;
    align-items:center;
}
.singleNoteButton{
    background-color:rgb(13, 113, 113);
    color:rgb(175, 238, 238);
}
.singleNoteTimelineHolder{
    width:100%;
    text-align:right;
    padding-right:20px;
}
.singleNoteHolder{
    margin-top:30px;
    padding-bottom:30px;
    border-bottom:4px solid rgb(3, 26, 23);
}
.singleNoteTimeline{
    font-size:1.3rem;
    color:rgb(154, 225, 225);
}
#notesNavigationHolder,#personalNotesHeader,#teamPDFHeader{
    padding-bottom:45px;
    border-bottom:3px solid rgb(8, 45, 52);
}
#teamPDFHeader{
    padding-bottom:0px;
}
#personalPdfsHeading{
    line-height:60px;
}
#personalPDFsGrid,#teamPDFsGrid{
    display:flex;
    flex-wrap:wrap;
    margin-top:40px;
}
.personalPDFIcon{
    display:flex;
    justify-content:center;
    align-items:center;
    padding:30px;
    background:
        linear-gradient(0deg,#c14646,#920303);
    font-size:2.5rem;
    font-weight:bold;
    color:#04282e;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
}
.personalPDFButton{
    border:none;
    background-color:transparent;
    outline:none;
    min-width:200px;
    max-width:300px;
    margin-right:30px;
    margin-bottom:50px;
}
.personalPDFNamePara{
    font-size:1.5rem;
    color:rgb(4, 40, 48);
    line-height:35px;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-wrap:wrap;
    width:100%;
}
.personalPDFName{
    padding:5px;
    padding-top:10px;
    padding-bottom:10px;
    background-color:rgb(185, 237, 255);
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
}
#pdfFormButtonHolder{
    margin-top:40px;
    margin-bottom:10px;
}
.pdfDataHolder{
    margin-bottom:20px;
    margin-top:20px;
}
#pdfFileInput{
     font-size:1.5rem;
     border:none;
     outline:none;
}
.senderNameHolder{
    text-align:left;
}
.senderName{
    font-size:1.2rem;
}
#chatOptions{
    margin-top:40px;
}

.EmptyStateTitle{
    display:flex;
    align-items:center;
    font-size:2.5rem;
    color:rgb(152, 240, 247);
    font-weight:550;
    margin-top:30px;
}
.EmptyStateDescription{
    line-height:50px;
    font-size:2rem;
    color:rgb(152, 240, 247);
    margin-top:15px;
    margin-bottom:40px;
}
.notesExitButton{
    display:flex;
    justify-content:center;
    align-items:center;
    background-color:transparent;
    border:none;
    outline:none;
    font-size:2.5rem;
    color:rgb(113, 231, 247);
}
.NoRecentParaTitle{
    color:rgb(14, 61, 65);
    font-size:2rem;
    margin-top:20px;
}
.NoRecentParaDescription{
    color:rgb(14, 61, 65);
    line-height:35px;
    margin-top:10px;
    font-size:1.5rem;
    margin-bottom:15px;
}
.emptyState{
    /* opacity:0;
    transform:translateY(20px); */
    /* animation:emptyCommentShow 0.3s linear 0s forwards; */
    display:none;
}
@keyframes emptyCommentShow{
    from{
        opacity:0;
        transform:translateY(20px);
    }
    to{
        opacity:1;
        transform:translateY(0px);
    }
}
@keyframes emptyCommentHide{
    from{
        opacity:1;
        transform:translateY(0px);
    }
    to{
        opacity:0;
        transform:translateY(20px);
    }
}
.overviewRecentCards{
    display:none;
}
#projectSettingNameHolder{
    font-size:2.5rem;
    color:#04282e;
    font-weight:550;
    margin-bottom:15px;
    margin-top:15px;
}
.projectSettingPara{
    font-size:2rem;
    color:#03171b;
    margin-bottom:10px;
    white-space:pre-wrap;
    word-break:break-word;
}
.projectSettingAnsPara{
    color:#09323a;
    line-height:50px;
    /* display:inline-block; */
}
#projectSettingOptions{
    color:#03171b;
    font-size:1.5rem;
    white-space:pre-wrap;
    word-break:break-word;
    line-height:40px;
}
.projectSettingOptionButton{
    background-color:transparent;
    outline:none;
    border:none;
    color:blue;
    font-size:1.5rem;
}

#projectSettingEditPageDateHolder{
    display:flex;
    align-items:center;
    margin-top:50px;
}
.projectSettingEditPageDataHolder{
    margin-top:15px;
}
.projectSettingCommentPara{
    display:flex;
    justify-content:center;
    align-items:center;
    width:100%;
    color:blue;
    font-size:1.5rem;
    display:none;
}
#projectSettingEditStatusDataHolder{
    margin-bottom:30px;
    margin-top:15px;
}