*{
    margin:0px;
    border:border-box;
    font-family:arial;
}
body{
    background-color:rgb(15, 60, 80);
}
body,html{
    min-height:100vh;
}
#invitePageHolder{
    height:100vh;
    width:100vw;
    display:flex;
    justify-content:center;
    align-items:center;
    background:rgba(0,0,0,0.5);
    position:fixed;
    z-index:9999;
    inset:0;
    bottom:0px;
    backdrop-filter:blur(2px);
    display:none;
}
#invitePage{
    border-radius:50px;
    background-color:rgba(196, 225, 227,0.7);
    box-shadow:0 0 20px cyan;
    border:2px solid rgba(255,255,255,1);
    padding:20px;
    padding-right:10px;
}
@keyframes invitePage{
    from{
        transform:scale(0);
    }
    to{
        trasnform:scale(1);
    }
}
@keyframes cancelPage{
    from{
        transform:scale(1);
    }
    to{
        transform:scale(0);
    }
}
#inviteHeading{
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:3rem;
    padding:40px;
    padding-top:0px;
    padding-bottom:10px;
    color:rgb(3, 43, 39);
}
#emailHolder,#spacialityHolder,#positionHolder{
    margin-top:20px;
    margin-bottom:50px;
}
.invitePara{
    font-size:2rem;
    margin-bottom:15px;
    color:rgb(2, 39, 40);
}
.input{
    border:none;
    border-radius:15px;
    border-top-left-radius:10px;
    border-bottom-left-radius:10px;
    outline:none;
    font-size:1.5rem;
    padding:5px;
    padding-left:10px;
    width:95%;
    box-shadow:
        0 10px 10px rgba(0,0,0,0.3),
        0px 20px 30px rgba(0,0,0,0.3);
}
input[type="radio"]{
    transform:scale(2);
    margin-right:10px;
    margin-left:10px;
}
label{
    font-size:1.5rem;
    display:flex inline-block;
    justify-content:center;
    align-items:center;
}
#inviteButtonsHolder{
    display:flex;
    align-items:center;
    justify-content:space-around;
    width:98%;
    margin-bottom:25px;
}
.inviteButton{
    font-size:2rem;
    padding:5px;
    padding-left:30px;
    padding-right:30px;
    border-radius:20px;
    border:none;
    outline:none;
    cursor:pointer;
    background-color:rgb(3, 45, 62);
    color:rgb(122, 255, 224);
    box-shadow:
        0 10px 10px rgba(0,0,0,0.3),
        0px 20px 30px rgba(0,0,0,0.3);
}
#inviteBtn{
    padding-left:35px;
    padding-right:35px;
}
#sideBarControl{
    background:transparent;
    font-size:5rem;
    display:flex;
    justify-content:center;
    align-items:center;
    border:none;
    outline:none;
    cursor:pointer;
    position:sticky;
    top:85vh;
    left:90vw;
    color:rgba(23, 149, 180, 0.648);
    z-index:6;
}
#navBar{
    width:100%;
    height:10vh;
    background-color:rgb(2, 34, 47);
    position:sticky;
    top:0px;
    display:flex;
    justify-content:space-evenly;
    align-items:center;
    border-radius:10px;
    box-shadow:
        10px 10px 10px rgba(0,0,0,0.6),
        0px 30px 40px rgba(0,0,0,0.6);
    z-index:2;
}
#navLogoContainer{
    display:flex;
    justify-content:center;
    align-items:center;
}
#logo{
    height:70px;
    width:70px;
    border-radius:50%;
    background-image:url("/images/logo.png");
    background-size:cover;
    background-color:white;
    margin-right:10px;
}
#navLogoPara{
    font-size:3rem;
    color:rgb(49, 194, 213);
}
.createButton{
    background-color:transparent;
    width:15vw;
    color:rgb(118, 184, 169);
    border:none;
    font-size:2rem;
    display:flex;
    justify-content:center;
    align-items:center;
}
.createButton:hover{
    color:white;
}
#newIcon{
    font-size:3.5rem;
    margin-right:5px;
}
button{
    transition:all 0.3s ease 0s;
    cursor:pointer;
}
button:active{
    transform:scale(0.8);
}

#mainArea{
    display:flex;
    margin-top:23px;
}
#sideBar{
    height:78vh;
    position:sticky;
    left:0px;
    top:0vh;
    background-color:rgba(0, 19, 27, 1);
    z-index:3;
    border-top-right-radius:20px;
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    align-items:center;
    padding:30px;
    padding-top:40px;
    top:13vh;
}
.button{
    border:none;
    outline:none;
    background-color:transparent;
    color:rgb(118, 184, 169);
    font-size:2rem;
    margin-bottom:40px;
    display:flex;
    align-items:center;
    margin-right:15px;
    margin-left:10px;
    border-radius:20px;
    height:6vh;
    padding:15px;
}
.button:hover{
    color:white;
    transform:scale(1.05);
}
.button:active{
    transform:scale(0.8);
}
#work{
    width:100%;
    background-color:transparent;
    padding:20px;
    padding-left:80px;
    margin-top:50px;
}
@keyframes page1Flip{
    from{
        transform:rotatey(0deg);
    }
    to{
        transform:rotateY(90deg);
    }
}
@keyframes page2Flip{
    from{
        transform:rotateY(90deg);
    }
    to{
        transform:rotateY(0deg);
    }
}
#sideBarHeading{
    color:rgb(3, 140, 159);
    display:flex;
    justify-content:center;
    align-items:center;
    margin-bottom:60px;
    font-size:2.5rem;
}
#overview{
    background-color:rgb(49, 82, 74);
}
#workHeading{
    font-size:5rem;
    display:flex;
    justify-content:flex-start;
    align-items:center;
    color:rgb(113, 231, 247);
}
#firstRow{
    display:flex;
    justify-content:space-between;
    align-items:center;
    background-color:transparent;
    margin-top:70px;
}
.row1Card{
    background-color:rgb(171, 217, 209);
    display:flex;
    justify-content:center;
    align-items:center;
    border-radius:20px;
    box-shadow:8px 20px 25px rgba(0,0,0,0.6);
    padding:20px;
}
.row1CardData{
    font-size:1.6rem;
    color:rgb(3, 28, 22);
}
.row1Ans{
    color:rgb(25, 115, 130);
}

hr{
    margin-top:100px;
    border:2px solid rgb(2, 31, 29);
}

.secondRow{
    display:flex;
    justify-content:space-around;
    background-color:transparent;
    align-items:center;
}
#row2Card1,#row2Card2,#row3Card{
    margin-top:80px;
    max-width:450px;
    background-color:rgb(171, 217, 209);
    padding:10px;
    padding-top:30px;
    box-shadow:8px 20px 25px rgba(0,0,0,0.6);
    border-radius:30px;
    padding-left:20px;
    padding-right:20px;
}
.quickButtons{
    border:none;
    outline:none;
    font-size:1.8rem;
    background-color:transparent;
    display:flex;
    justify-content:flex-start;
    align-items:center;
    color:rgb(7, 55, 57);
    font-weight:550;
    margin-bottom:20px;
}
.row2CardHeading,#row3CardHeading{
    font-size:2rem;
    color:rgb(7, 55, 57);
}
ul{
    padding-left:0px;
    font-size:1.8rem;
    line-height:40px;
    margin-bottom:30px;
    list-style:none;
    margin-top:20px;
    color:rgb(3, 28, 22);
}
li{
    margin-bottom:10px;
}
#thirdRow{
    display:flex;
    justify-content:center;
    align-items:center;
    background-color:transparent;
}
#row3Card{
    max-width:600px;
    margin-bottom:40px;
}
#taskArea,#activityArea,#discussionArea,#notesArea{
    display:none;
    width:100%;
    background-color:transparent;
    padding:20px;
    padding-left:80px;
    margin-top:50px;
    transform:rotateY(90deg);
}
#testing{
    height:300px;
    width:300px;
    background-color:red;
}
/* 
#activityArea{

}

#discussionArea{
    
}

#notesArea{
    
} */
