*{
    border:border-box;
    margin:0px;
    font-family:arial;
}

body{
    background-color:rgb(15, 60, 80);
}

#message{
    position:absolute;
    z-index:2;
    color:rgb(197, 63, 63);
    top:2rem;
    right:20px;
    height:80px;
    width:380px;
    border-radius:40px;
    display:flex;
    justify-content:center;
    align-items:center;
    padding-left:30px;
    line-height:35px;
    font-size:1.4rem;
    line-height:25px;
    background-color:rgba(255,70,70,0.22);
    box-shadow:0 0px 20px rgb(247, 74, 74);
    border:2px solid rgb(224, 135, 135);
    transform:translateX(440px);
    display:none;
}

@keyframes messageSlide{
    form{
        transform:translateX(440px);
    }
    to{
        transform:translateX(0px);
    }
}

@keyframes messageFade{
    from{
        transform:translateY(0px);
        opacity:1;
    }
    to{
        transform:translateY(150px);
        opacity:0;
    }
}

@keyframes messageDim{
    from{
        background-color:rgba(255,70,70,0.22);
    }
    to{
        background-color:rgba(255,70,70,0.52);
    }
}

.form{
    background-color:transparent;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    width:100vw;
}
#form2,#form3{
    display:none;
}

#formElementsContainer{
    border-radius:50px;
    background-color:rgb(196, 225, 227);
    box-shadow:0 0 20px cyan;
    border:2px solid rgba(255,255,255,1);
    padding:20px;
}

#formElementContainer2,#forgotPassDataHolder{
    border-radius:50px;
    background-color:rgb(196, 225, 227);
    box-shadow:0 0 20px cyan;
    border:2px solid rgba(255,255,255,1);
    padding:20px;
    transition:all 0.3s linear 0s;
}

@keyframes pageFlip{
    from{
        transform:rotateY(0deg);
    }
    to{
        transform:rotateY(90deg);
    }
}
@keyframes pageFlip2{
    from{
        transform:rotateY(90deg);
    }
    to{
        transform:rotateY(0deg);
    }
}

.formHeading{
    display:flex;
    justify-content:center;
    align-items:center;
    color:rgb(49, 102, 102);
    font-size:3rem;
    padding:10px;
}

.submit{
    display:flex;
    justify-content:center;
    align-items:center;
}

#submit2{
    margin-top:30px;
}

.para{
    margin-bottom:10px;
    font-size:2.5rem;
    color:rgb(49, 102, 102);
    margin-top:40px;
    margin-left:5px;
}
.forgotPagePara{
    margin-top:20px;
}

.para22{
    margin-bottom:10px;
    font-size:2rem;
    margin-top:25px;
}

input{
    width:93%;
    border-radius:20px;
    border:none;
    font-size:1.5rem;
    padding:10px;
    padding-left:20px;
    outline:none;
    box-shadow:
        0 8px 10px rgba(0,0,0,0.3),
        0px 10px 30px rgba(0,0,0,0.3);
}

.sign{
    background-color:rgb(35, 79, 87);
    border-radius:30px;
    font-size:2.3rem;
    padding-top:10px;
    padding-bottom:10px;
    padding-left:50px;
    padding-right:50px;
    color:rgb(210, 237, 237);
    border:none;
    box-shadow:
        0 10px 10px rgba(0,0,0,0.3),
        0px 20px 30px rgba(0,0,0,0.3);
    transition:all 0.3s ease 0s;
    margin-top:25px;
}

.sign:active{
    transform:scale(0.8);
}
.sign:hover{
    color:white;
}

#sign2{
    font-size:1.5rem;
    margin-top:10px;
    padding:20px;
}

.create{
    display:flex;
    justify-content:center;
    align-items:center;
    margin-top:30px;
    margin-bottom:5px;
}

#create2{
    margin-top:25px;
}

.para2{
    color:black;
    font-weight:300;
    font-size:1.2rem;
}

.createBtn,#forgotBtn{
    color:blue;
    background-color:transparent;
    border:none;
    font-weight:300;
    font-size:1.2rem;
    transition:all 0.3s ease 0s;
}

#forgotBtn{
    font-size:1rem;
}

#forgotBtnContainer{
    width:100%;
    margin-top:25px;
    text-align:right;
}

#forgotBtn:active{
    transform:scale(0.8);
}
.createBtn:active{
    transform:scale(0.8);
}

#forgotBtn:hover{
    text-decoration:underline;
}
.createBtn:hover{
    text-decoration:underline;
}
#forgotPageSteps{
    font-size:1.5rem;
    color:rgb(31, 77, 77);
    line-height:40px;
    /* margin-top:20px; */
}
#forgotPassDataHolder{
    min-width:500px;
    max-width:500px;
}
#forgotPageButtonHolder{
    display:flex;
    justify-content:space-around;
    align-items:center;
    margin-top:20px;
}
.forgotPageButton{
    background-color:rgb(35, 79, 87);
    border-radius:30px;
    font-size:2rem;
    padding-top:10px;
    padding-bottom:10px;
    padding-left:40px;
    padding-right:40px;
    color:rgb(210, 237, 237);
    border:none;
    box-shadow:
        0 10px 10px rgba(0,0,0,0.3),
        0px 20px 30px rgba(0,0,0,0.3);
    transition:all 0.3s ease 0s;
    transition:all 0.3s linear 0s;
    cursor:pointer;
}
.forgotPageButton:active{
    transform:scale(0.7);
}
.forgotPageButton:hover{
    color:white;
}
#forgotPage3,#forgotPage2{
    display:none;
    opacity:0;
    transform:translateY(40px);
}
#forgotWaitingMainText{
    margin-bottom:10px;
    font-size:1.8rem;
    color:rgb(16, 66, 66);
    /* margin-top:10px; */
    margin-left:5px;
    line-height:40px;
}
.forgotWaitingPara{
    color:rgb(16, 66, 66);
    font-size:1.5rem;
    margin-top:15px;
    margin-left:5px;
}
#forgotWaitingPageButtonHolder{
    display:flex;
    align-items:flex-start;
    flex-direction:column;
}
.forgotWaitingPageButton{
    font-size:1.5rem;
    padding-left:15px;
    padding-right:15px;
    margin-top:25px;
}
#forgotPageWaitingButtonHolder2,#forgotWaitingPageCountDownHolder{
    display:flex;
    align-items:center;
}
#countdown{
    margin-left:20px;
    font-size:1.5rem;
    color:blue;
    margin-top:25px;
    /* display:none; */
}
#forgotPageNewPassButtonHolder{
    display:flex;
    justify-content:space-around;
    align-items:center;
    margin-top:50px;
    margin-bottom:15px;
}

@keyframes fadeOut{
    from{
        opacity:1;
        transform:translateY(0px);
    }
    to{
        opacity:0;
        transform:translateY(40px);
    }
}

@keyframes fadeIn{
    from{
        opacity:0;
        transform:translateY(40px);
    }
    to{
        opacity:1;
        transform:translateY(0px);
    }
}