*{
    margin:0px;
    border:border-box;
    font-family:arial;
}
body{
    background-color:rgb(15, 60, 80);
}

#navBar{
    width:100%;
    background-color:rgb(2, 34, 47);
    position:sticky;
    top:0px;
    left:0px;
    display:flex;
    align-items:center;
    border-radius:10px;
    box-shadow:
        10px 10px 10px rgba(0,0,0,0.6),
        0px 30px 40px rgba(0,0,0,0.6);
    z-index:2;
}
#logo{
    color:rgb(184, 214, 228);
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:3rem;
    margin-left:60px;
    margin-right:60px;
}
#navInput{
    width:inherit;
    border-radius:50px;
    border:none;
    outline:none;
    font-size:1.5rem;
    padding-left:20px;
    border-top-left-radius:0px;
    border-bottom-left-radius:0px;
    border-left:1px solid black;
}
#createButton{
    background-color:transparent;
    color:rgb(118, 184, 169);
    border:none;
    font-size:2rem;
    display:flex;
    justify-content:center;
    align-items:center;
    margin-left:60px;
}
#createButton:hover{
    color:white;
}
#newIcon{
    font-size:3.5rem;
    margin-right:5px;
}
#option{
    border-radius:50%;
    border:none;
    outline:none;
    font-size:1.5rem;
    background-color:rgb(149, 176, 176);
    margin-left:60px;
    margin-right:60px;
    padding:5px;
}
#searchContainer{
    display:flex;
    width:inherit;
    min-width:fit-content;
}
#searchIconContainer{
    border-radius:50px;
    border-top-right-radius:0px;
    border-bottom-right-radius:0px;
    border:none;
    background-color:rgb(149, 176, 176);
    display:flex;
    justify-content:center;
    align-items:center;
    padding:8px;
}
#searchIcon{
    font-size:1.5rem;
    color:rgb(12, 56, 60);
}

#welcomeSection{
    margin-top:60px;
    margin-left:60px;
}
#welcomePara1{
    font-size:3rem;
    color:rgb(138, 228, 207);
}
#welcomePara2,#welcomePara3{
    font-size:2.5rem;
    margin-top:25px;
    color:rgb(144, 201, 188);
}
#welcomePara3{
    margin-top:0px;
    font-size:2.5rem;
    margin-bottom:30px;
}
#filterContainer{
    margin-top:40px;
    margin-bottom:60px;
}
#filterButtonContainer{
    display:flex;
    align-items:center;
    background-color:transparent;
    border:none;
}
.filterButton{
    background-color:rgb(2, 17, 23);
    border-radius:30px;
    font-size:1.8rem;
    color:rgb(118, 184, 169);
    margin-right:50px;
    box-shadow:
        0 10px 10px rgba(0,0,0,0.3),
        0px 20px 30px rgba(0,0,0,0.3);
    border:none;
    padding:10px;
    padding-left:20px;
    padding-right:20px;
}
hr{
    border:2px solid rgb(5, 32, 33);
}
#grid{
    margin-top:50px;
    display:flex;
    justify-content:flex-start;
    flex-wrap:wrap;
    margin-bottom:50px;;
}
.gridEmptyState,.noSearchState{
    margin-left:60px;
    display:none;
}
#gridHeading,#noSearchHeading{
    font-size:2.5rem;
    color:rgb(138, 228, 207);
    margin-bottom:30px;
}
#gridPara1,#gridPara2,#noSearchPara2{
    font-size:2rem;
    color:rgb(144, 201, 188);
    line-height:50px;
}
@keyframes emptyFade{
    form{
        opacity:1;
        transform:translateY(0);
    }
    to{
        opacity:0;
        transform:translateY(80px);
    }
}
.noSearchState{
    opacity:0;
    transform:translateY(80px);
    animation:noSearchAnimation 0.3s linear 0s forwards;
}
@keyframes noSearchAnimation{
    from{
        opacity:0;
        transform:translateY(80px);
    }
    to{
        opacity:1;
        transform:translateY(0px);
    }
}
.project{
    background-color:rgb(193, 243, 245);
    border-radius:20px;
    transform:translateY(60px);
    opacity:0;
    box-shadow:0px 0px 20px cyan;
    transition:all 0.3s linear 0s;
    padding-bottom:5px;
}
.projectAnimationHolder{
    background-color:transparent;
    margin-left:60px;
    border-radius:20px;
    margin-bottom:40px;
    transition:all 0.3s linear 0s;
    margin-top:3vh;
    border:none;
    outline:none;
}
.projectAnimationHolder:hover{
    transform:translateY(-20px);
    color:black;
}
.project:hover{
    color:black;
    box-shadow:0px 0px 40px cyan;
}
.projectAnimationHolder:active{
    transform:scale(0.8);
}
@keyframes cardAnimation{
    from{
        transform:translateY(60px);
        opacity:0;
    }
    to{
        transform:translateY(0px);
        opacity:1
    }
}
.projectImage{
    background:
        linear-gradient(0deg,#4facfe,#00f2fe);
    border-radius:20px;
    border-bottom-left-radius:0px;
    border-bottom-right-radius:0px;
    font-size:5rem;
    font-weight:800;
    opacity:0.8;
    line-height:6px;
    display:flex;
    justify-content:center;
    align-items:center;
    color:rgb(13, 12, 12);
    padding:70px;
}
.projectData{
    max-width:300px;
    min-width:300px;
}
.projectPara{
    font-size:1rem;
    line-height:30px;
    font-weight:525;
    margin-left:20px;
    margin-right:5px;
    text-align: left;
    margin-bottom:15px;
}
.projectNameContainer{
    display:flex;
    justify-content:flex-start;
    padding-left:20px;
    margin-top:5px;
    margin-bottom:5px;
}
.projectName{
    font-size:1.7rem;
    font-weight:550;
    line-height:40px;
    color:rgb(2, 52, 50);
    margin-bottom:15px;
    text-align:left;
}
.status{
    display:flex;
    justify-content:flex-start;
    align-items:center;
    padding-left:20px;
    margin-bottom:10px;
    margin-top:20px;
}
.statusRepresenter{
    height:20px;
    width:20px;
    border-radius:50%;
    background-color:green;
}
.projectAnsPara{
    color:rgb(2, 56, 49);
}

#newProjectHolder,#profileHolder{
    height:100vh;
    width:100vw;
    display:flex;
    justify-content:center;
    align-items:center;
    background:rgba(0,0,0,0.5);
    position:fixed;
    z-index:999;
    inset:0;
    backdrop-filter:blur(2px);
    display:none;
}
#newProject,#profilePage,#profileEditPage,#profileEditPassPage,#profileEditEmailPage{
    border-radius:50px;
    background-color:rgba(196, 225, 227,0.7);
    box-shadow:0 0 20px cyan;
    border:2px solid rgba(255,255,255,1);
    /* animation:newProject 0.5s ease 0s forwards; */
    padding-right:10px;
}
#profilePage{
    display:none;
}
#profileEditPage,#profileEditPassPage,#profileEditEmailPage{
    display:none;
    transform:rotateY(90deg);
}
@keyframes newProject{
    from{
        transform:scale(0);
    }
    to{
        trasnform:scale(1);
    }
}
@keyframes cancelProject{
    from{
        transform:scale(1);
    }
    to{
        transform:scale(0);
    }
}

@keyframes pageFlip1{
    from{
        transform:rotateY(0deg);
    }
    to{
        transform:rotateY(90deg);
    }
}
@keyframes pageFlip2{
    from{
        transform:rotateY(90deg);
    }
    to{
        transform:rotateY(0deg);
    }
}

#newProjectHeading,.profileHeading{
    display:flex;
    justify-content:center;
    align-items:center;
    margin-bottom:30px;
    margin-top:20px;
    color:rgb(3, 43, 39);
    font-size:3rem;
    padding-left:50px;
    padding-right:50px;
}
#profileHeading{
    margin-top:10px;
    font-size:4rem;
}
#newProjectDataContainer{
    padding-left:20px;
}
.newPara{
    font-size:2rem;
    color:rgb(2, 39, 40);
    margin-bottom:15px;
}
.newInput{
    width:100%;
    height:5vh;
    border-radius:15px;
    border:none;
    outline:none;
    padding-left:10px;
    font-size:1.3rem;
}
#textArea{
    width:92%;
    min-height:80px;
    padding:10px;
}
#dateBox{
    display:flex;
    align-items:center;
}
#date{
    font-size:1.3rem;
    padding:10px;
    padding-left:10px;
    padding-right:10px;
    border-radius:10px;
    border:none;
    outline:none;
}

#newButtonHolder,#profilePageButtonHolder,#profileEditPageButtonHolder,#profileEditPassPageButtonHolder,#profileEditEmailPageButtonHolder,#profileEditEmailWaitingPageButtonHolder{
    width:100%;
    display:flex;
    justify-content:space-around;
    align-items:center;
    margin-top:25px;
    margin-bottom:20px;
}
#profileEditEmailWaitingPageButtonHolder{
    justify-content:flex-start;
    margin-top:30px;
}
#profilePageButtonHolder{
    margin-top:30px;
    margin-bottom:30px;
}
#profileEditPageButtonHolder{
    margin-bottom:30px;
}
#profileEditPassPageButtonHolder{
    margin-top:40px;
    margin-bottom:30px;
}
#profileEditEmailPageButtonHolder{
    margin-bottom:30px;
}
.newButton,.profilePageButton,.profileEditPageButton,.profileEditPassPageButton,.profileEditEmailPageButton,.profileEditEmailWaitingPageButton{
    background-color:rgb(3, 45, 62);
    border-radius:30px;
    font-size:2rem;
    color:rgb(122, 255, 224);
    box-shadow:
        0 10px 10px rgba(0,0,0,0.3),
        0px 20px 30px rgba(0,0,0,0.3);
    border:none;
    padding-top:10px;
    padding-bottom:10px;
    padding-right:20px;
    padding-left:20px;
}
.profileEditEmailWaitingPageButton{
    font-size:1.5rem;
}
button{
    transition:all 0.3s ease 0s;
    cursor:pointer;
}
button:active{
    transform:scale(0.8);
}
button:hover{
    color:white;
}
.profileEditPageOptionButton:hover{
    color:blue;
    text-decoration:underline;
}
#profileFullName{
    font-size:2.5rem;
    color:rgb(2, 39, 40);
    margin-left:20px;
    margin-right:10px;
}
.profileDataHolder{
    display:flex;
    align-items:center;
    font-size:2rem;
    color:rgb(3, 29, 30);
    margin-top:20px;
    margin-left:20px;
    margin-right:10px;
}
.profilePagePara{
    font-size:2rem;
    color:rgb(3, 29, 30);
}
.profilePageAnsPara{
    margin-left:10px;
    color:rgb(21, 80, 82);
}
.profileEditNameHolder{
    margin-left:20px;
    margin-bottom:30px;
    margin-right:15px;
}
.profileEditPageOption{
    font-size:1.5rem;
    color:rgb(2, 23, 23);
    display:flex;
    align-items:center;
    margin-top:10px;
}
.profileEditPageOptionButton{
    color:blue;
    background-color:transparent;
    border:none;
    outline:none;
    margin-left:5px;
    font-size:1.5rem;
    display:flex;
    justify-content:center;
    align-items:center;
}
.profileEditPassPageDataHolder{
    margin-left:20px;
    margin-bottom:30px;
    margin-right:15px;
}
#profileEditEmailPagePara{
    margin-top:20px;
}
#profileEditEmailPagePara,#profileEditEmailPageSteps{
    margin-left:20px;
    /* margin-top:20px; */
    font-size:1.5rem;
    color:rgb(1, 38, 39);
    line-height:40px;
}
#profileEditEmailPageDataHolder{
    margin-left:20px;
    margin-right:20px;
}
#profileEditEmailPageElement2{
    display:none;
}
#profileEditEmailPageCountdownHolder{
    display:flex;
    align-items:center;
    margin-top:30px;
}
#countdown{
    color:blue;
    font-size:1.8rem;
    margin-left:20px;
}
.profileEditEmailWaitingPagePara{
    font-size:1.6rem;
    color:rgb(1, 38, 39);
    margin-top:15px;
}
#profileEditEmailPageElement2{
    margin-left:20px;
}
#profileEditEmailWaitingPageExpireComment{
    font-size:1.5rem;
    color:rgb(1, 38, 39);
    display:flex;
    justify-content:center;
    align-items:center;
    margin-bottom:20px;
    margin-top:30px;
}